# Microsoft Graph App Registration
# Für OneDrive Personal: tenant = consumers
GRAPH_TENANT=consumers
GRAPH_CLIENT_ID=

# Scopes (space-separated)
GRAPH_SCOPES="Files.ReadWrite.All"

# OneDrive folder (relative to root)
ONEDRIVE_INBOX=vomDrucker
ONEDRIVE_TARGET_ROOT=SortmyPDFs
